*.o
*.cf
*.vcd
*.wlf
*.log
*.out
*.jou
*.str
*.rpt

# ModelSim
/work/
/transcript
/vsim.wlf
/vsim.ini

# Quartus
/db/
/incremental_db/
*.qws
*.qdf
*.smsg
*.rpt
*.sopcinfo
*.sof
*.pof
*.jic
*.ttf
*.map
*.asm.rpt
*.pin
*.qip
*.qmsg
*.summary
*.cdf
*.rpd
*.sld
*.qsys_edit/
*.cdb
*.qdf

*.bak
*.tmp
*.zip
*.tar
*.gz
*.7z
*.rar
